@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
/* ...existing code... */

* {
  /* ...existing code... */
  font-family: "Outfit";
}
@theme {
  --color-mend-blue: #2180a8;
  --color-mend-cyan: #2180a8;
  --color-mend-dark: #67afc7;
  --color-mend-gold: #ffd700;

  --color-text-primary: #2180a8;
  --color-background: #f8f8ff;
  --color-foreground: #ffffff;
  --color-primary: #67afc7;
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-orange-600);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-border: var(--color-zinc-200);
  --color-highlight: rgba(255, 255, 255, 0.6);
  --shadow-raised:
    2px 2px 6px var(--color-shadow), -2px -2px 6px var(--color-highlight),
    inset 0px 0px 0px var(--color-shadow),
    inset 0px 0px 0px var(--color-highlight),
    inset 1px 1px 2px var(--color-highlight),
    inset -1px -1px 2px var(--color-shadow);
  --shadow-inset:
    1px 1px 2px var(--color-shadow), -1px -1px 2px var(--color-highlight),
    inset 2px 2px 6px var(--color-shadow),
    inset -2px -2px 6px var(--color-highlight);
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-gray-400);
}

@layer theme {
  .dark {
    --color-background: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
    --color-primary: var(--color-indigo-400);
    --color-highlight: rgba(255, 255, 255, 0.2);
    --color-shadow: rgba(0, 0, 0, 0.75);
    --color-destructive: var(--color-red-400);
    --color-warning: var(--color-orange-400);
    --color-muted: var(--color-zinc-700);
    --color-muted-foreground: var(--color-zinc-400);
    --color-border: var(--color-zinc-950);
  }
}
@layer base {
  html,
  body {
    @apply bg-background text-foreground;
  }
}
