@import "tailwindcss";

@theme {
  --color-mend-white: #ffffff;
  --color-mend-blue: #2180a8;
  --color-mend-light-blue: #67afc7;
  --color-mend-cyan: #2180a8;
  --color-mend-dark: #67afc7;
  --color-mend-gold: #ffd700;
}
