@import "tailwindcss";

@theme {
  --color-mend-white: #ffffff;
  --color-mend-blue: #2180a8;
  --color-mend-light-blue: #67afc7;
  --color-mend-cyan: #42c9e9;
  --color-mend-dark: #002a5d;
  --color-mend-gold: #ffd700;
}
